* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "poppins",helvetica;
    font-size: 1rem;
    background-color: #06162e;
    color: #fff;
    letter-spacing: 0.5px;
}
button, a {
    all: unset;
    cursor: pointer;
}
:root {
    --rosegold-color : rgba(229, 171, 142, 1);
}
.bannerContainer {
    width: 100vw;
    position: relative;
}
header {
    background: linear-gradient(159deg, rgba(6, 22, 46, 0.6) 0%, rgba(6, 22, 46, 1) 30%, rgba(6, 22, 46, 1) 70%, rgba(6, 22, 46, 0.6) 100%);
    width: 100%;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 0;
    z-index: 100;
}
nav {
    width: 100%;
    display: flex;
    padding: 1vh 5vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menuBtn {
    width: 7%;
    height: auto;
}
.changeMenuIcon {
    width: 100%;
    display: block;
}
.logoImage {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.navModal {
    position: fixed;
    left: 0rem;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
.navModal.active {
    transform: translateX(0);
}
.nav-content {
    background: linear-gradient(90deg, rgba(153, 107, 85, 0.7) 3%, rgba(229, 171, 142, 0.7) 35%, rgba(229, 171, 142, 0.7) 48%, rgba(153, 107, 85, 0.7) 93%);
    width: calc(100% - 10vw);
    max-width: 500px;
    left: 5vw;
    right: 5vw;
    position: absolute;
    padding: 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.nav-item {
    display: block;
    padding-bottom: 4vh;
    color: #000;
}
.nav-item:hover {
    color: #fff;
    text-decoration: underline;
}
.requestCallBackBtn {
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    display: flex;
    align-items: center;
    border-radius: 50px;
    /* padding: 0 24px; */
    justify-content: space-between;
    color: #000;
}
.requestCallBackBtn span {
    padding: 0 24px;
}
.banner {
    position: relative;
}
.bgVideoContainer {
    width: 100%;
    height: auto;
}
.bgVideo {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    display: block;
}
.bannerImageContainer .bgVideo {
    width: 100%;
    height: 100%;
}
.bannerImageContainer {
    width: 40%;
    height: 45%;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 5vw;
    transform: translateY(50%);
}
.bannerImage {
    width: 100%;
    height: 100%;
    display: block;
}
.bgVideoContainer .bannerImage {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    display: block;
}
.videoImageReverseBtn {
    position: absolute;
    bottom: 0;
    right: calc(40% + 5vw);
    transform: translate(50%,50%);
}
.reverseImage {
    display: block;
    width: 12vw;
    height: 12vw;
}
.liveContentContainer {
    padding: 0% 1vw 1vh;
}
.liveTextHolder {
    padding: 0 5vw 1vh;
}
.live {
    font-size: clamp(24px,8vw,40px);
    color: rgb(255,255,255,0.48);
    line-height: 1;
}
.here {
    font-size: clamp(30px,12vw,50px);
    line-height: 1;
    color: rgb(255,255,255,0.8);
    font-weight: 600;
}
.bannerContent {
    padding: 1vh 5vw;
}
@media (min-width:600px) {
    .bannerImageContainer{
        border-radius: 200px;
        width: 30%;
    }
    .videoImageReverseBtn {
        right: calc(30% + 5vw);
    }
}

/*************************************************
******************Architect - one ****************
*************************************************/
.architect-bannerContainer {
    position: relative;
}
.belowBannerImage {
    width: 100%;
    height: 100%;
    display: block;
}
.whitesphere1 {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    animation: float2 4s cubic-bezier(0.4,0,0.6,1) infinite;
    max-width: 300px;
    display: block;
}
@keyframes float2 {
    0% {transform: translateY(50%);}
    50% {transform: translateY(54%);}
    100% {transform: translateY(50%);}
}
.architect-text {
    color: var(--rosegold-color);
    font-size: clamp(12px, 4.5vw, 30px);
    font-weight: 600;
    padding: 1vh 1rem;
    width: 64%;
    letter-spacing: 0;
    line-height: normal;
}
.architect-dividerOne {
    opacity: 0.48;
    margin: 1rem 2vw 1.5rem;
}

/*************************************************
******************Architect - Two ****************
*************************************************/
.architect-sectionTwo {
    position: relative;
}
.architect-heading {
    font-size: clamp(35px,10.5vw,48px);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}
.architect-imageContainer {
    padding: 1rem 1rem 0;
    position: relative;
}
.architect-image {
    width: 100%;
    height: auto;
    display: block;
}
.brownSphere2 {
    width: 45%;
    position: absolute;
    top: 40%;
    left: -10%;
    max-width: 300px;
    display: block;
}
.architectEnquireBtn {
    width: 10vw;
    height: 10vw;
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.architectEnquireImage {
    width: 6vw;
    height: 6vw;
}
.architect-description {
    padding: 0 1rem;
}
.architect-popup {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    float: right;
    margin: 0 1rem 1rem 0;
}
.architect-popupImage {
    width: 8vw;
    height: 8vw;
    display: block;
}
@media (min-width:600px) {
    .architectEnquireBtn {
        bottom: 3rem;
        right: 3rem;
    }
}
/*************************************************
******************highlight - one ****************
*************************************************/
.highlightBannerImage {
    width: 100%;
    height: auto;
    display: block;
}
.decoration {
    width: 25%;
    animation: float 4s cubic-bezier(0.4,0,0.6,1) infinite;
    float: right;
}
@keyframes float {
    0% {transform: translateY(4px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(4px);}
}
.highlight-Text {
    padding: 1rem;
    font-size: clamp(12px, 4.5vw, 30px);
    color: var(--rosegold-color);
    line-height: normal;
    font-weight: 600;
}
.highlightCarouselContainer {
    width: 100%;
    height: auto;
    background-color: var(--rosegold-color);
    overflow: hidden;
}
.highlightCarouselViewport {
    display: flex;
    flex-direction: row;
}
.highlightCard {
    flex:  0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.highlight-cardImage {
    width: 100%;
    display: block;
    height: 70%;
}
.highlight-cardDescription {
    padding: 0 1rem;
    color: #000;
    font-weight: 500;
}
.highlightArrowIndicatorContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.highlightArrowContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.highlightIndicator {
    font-size: clamp(100px,8vw,140px);
    color: #000;
    line-height: 1;
}
/*************************************************
******************floor - one ****************
*************************************************/
.floorVideo {
    width: 100%;
    height: 100%;
    display: block;
    margin: 1rem 0;
}
.floorCarouselContainer {
    background: #faeee8;
    overflow: hidden;
}
.floorCarouselViewport {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.floorCard{
    flex: 0 0 100%;
}
.floorCardImage {
    width: 100%;
    display: block;
    height: 100%;
}
.arrowIndicatorBtnContainer {
    text-align: center;
}
.floorArrowIndicator {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.floorArrowContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.floorIndicator {
    font-size: clamp(100px,8vw,140px);
    color: #000;
    line-height: 1;
}
.floor-descriptionContainer {
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
}
.floor-description {
    background-image: url(/assets/images/highligh-banners/mob-floor-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem 1rem 30%;
    font-size: clamp(12px,4.5vw,30px);
}
.floorEnquireBtn {
    float: right;
    padding-top: 1rem;
}
/*************************************************
******************gallery - one ****************
*************************************************/
.galleryBanner {
    width: 100%;
    height: auto;
    display: block;
}
.gallery-text {
    font-size: clamp(12px,4.5vw,30px);
    color: var(--rosegold-color);
    font-weight: 600;
    padding: 1rem;
}
.galleryContainer {
    position: relative;
}
.galleryCarouselContainer {
    overflow: hidden;
    position: relative;
}
.gallery-viewport {
    display: flex;
    gap: 0;
    flex-direction: row;
}
.galleryCard {
    flex: 0 0 100%;
}
.galleryImage {
    width: 100%;
    height: 100%;
    display: block;
}
.galleryArrowIndicatorContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.galleryArrowContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
.galleryIndicator {
    font-size: clamp(100px,8vw,140px);
    color: #000;
    line-height: 1;
}
.gallery-decorationOne {
    position: absolute;
    top: -5%;
    right: 0;
    width: 30%;
    height: auto;
    display: block;
    animation: float 4s cubic-bezier(0.4,0,0.6,1) infinite;;
}
.gallery-decorationTwo {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 30%;
    z-index: -1;
    animation: float2 4s cubic-bezier(0.4,0,0.6,1) infinite;
    height: auto;
}
.galleryDescription {
    padding: 1rem;
}
.galleryEnquireBtn {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}
.galleryEnquireBtn hr {
    width: calc(100% - 12vw);
}
.galleryEnquireBtn img {
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    width: 10vw;
    height: 10vw;
    padding: 3vw;
    border-radius: 50%;
}
/*************************************************
******************location - one ****************
*************************************************/
.location-containerOne {
    position: relative;
}
.location-bannerImageContainer {
    position: relative;
}
.locationBanner {
    width: 100%;
    height: auto;
    display: block;
}
.fairyStatue {
    width: 30%;
    max-width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: float2 4s cubic-bezier(0.4,0,0.6,1) infinite;
    display: block;
}
.location-text {
    padding: 0 1rem 1rem;
    font-size: clamp(12px,4.5vw,30px);
    color: var(--rosegold-color);
    font-weight: 600;
}
.locationVisualContainer {
    position: relative;
}
.mountmary {
    width: 100%;
    display: block;
}
.angelOne {
    position: absolute;
    top: 5%;
    width: 25%;
    max-width: 250px;
    height: auto;
    display: block;
    animation: float 4s cubic-bezier(0.4,0,0.6,1) infinite;
}
.angelTwo {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 25%;
    max-width: 250px;
    height: auto;
    display: block;
    animation: float 4s cubic-bezier(0.4,0,0.6,1) infinite;
}
.locationEnquireBtn {
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.locationEnquireImage {
    width: 5vw;
    height: 5vw;
    display: block;
}
.location-description {
    padding: 1rem;
}
.location-headingBold {
    font-size: clamp(35px,10.5vw,48px);
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: rotate(-90deg) translateX(50%);
    transform-origin: right center;
}
/*************************************************
******************Map - one ****************
*************************************************/
.map-container {
    position: relative;
}
.map {
    width: 100%;
    height: auto;
    display: block;
}
.location-carouselContainer {
    position: relative;
    overflow: hidden;
}
.location-viewport {
    display: flex;
    gap: 0;
    flex-direction: row;
}
.locationCard {
    flex: 0 0 100%;
    position: relative;
    background-color: #faeee8;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.location-cardDescription {
    font-size: clamp(24px,4.5vw,35px);
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 1rem;
    line-height: 1;
}
.location-cardImage {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.location-distance {
    font-size: clamp(100px,8vw,140px);
}
.location-km {
    text-transform: uppercase;
    font-size: clamp(35px,4.5vw,48px);
}
.locationArrowContainer {
    position: absolute;
    bottom: 1rem; 
    right: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
}
/*************************************************
******************one address****************
*************************************************/
.oneaddressContainer {
    position: relative;
    padding: 1rem;
}
.oneaddress-headingSmall {
    font-size: clamp(24px,4.5vw,35px);
    color: var(--rosegold-color);
    opacity: 0.7;
}
.oneaddress-headingBold {
    font-size: clamp(35px,10.5vw,48px);
    color: var(--rosegold-color);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.oneaddress-imageHolder {
    position: relative;
}
.oneaddressImage {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
}
.oneaddressBtn {
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oneAddressBtnImage {
    width: 5vw;
    height: 5vw;
    display: block;
}
.one-address-text {
    font-size: clamp(12px,4.5vw,30px);
    color: var(--rosegold-color);
    font-weight: 600;
    padding-top: 1rem;
}
.oneaddressEnquireBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}
.oneaddressEnquireBtn hr {
    width: calc(100% - 12vw);
}
.oneaddressEnquireBtn img {
    background: linear-gradient(90deg, rgba(153, 107, 85, 1) 3%, rgba(229, 171, 142, 1) 35%, rgba(229, 171, 142, 1) 48%, rgba(153, 107, 85, 1) 93% );
    width: 10vw;
    height: 10vw;
    padding: 3vw;
    border-radius: 50%;
}
/*************************************************
******************Footer - one ****************
*************************************************/
.footerContainer {
    padding: 5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
}
.qrContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}
.qrImage {
    display: block;
}
.footer-infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
}
.footer-info {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
}
.footer-linkContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
    align-items: center;
}
.footer-link {
    color: var(--rosegold-color);
    font-weight: 600;
    text-decoration: underline;
}
@media (min-width:600px) {
    .footerContainer {
        padding-bottom: 8rem;
    }
}
.fixedBottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(45deg, rgba(6, 22, 46, 0.6) 0%, rgba(6, 22, 46, 1) 30%, rgba(6, 22, 46, 1) 70%, rgba(6, 22, 46, 0.6) 100%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding-top: 10px;
}
.callFooterImg {
    width: 15vw;
    max-width: 100px;
    height: auto;
    display: block;
}
.siteFooterImg {
    width: 30vw;
    max-width: 200px;
    display: block;
}